body{
    margin: 0;
    padding: 0;

}

header{
    background-color: black;
    color: whitesmoke;
    padding: 16px 0;
    text-align: center;
}
ul{
    list-style-type: NONE;
}

ul li{
    display: inline;
    margin: 0 20px;
}
ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
    front weight: bold;
}  

#products{
    display: flex;
    justify-content: space-around;

}

.product{
    border: 3px solid black;
    margin: 20px;
    border: radius 10px;
    padding: 10px;
    text-align: center;
}
button{
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    
}
button:hover{
    background-color: rgb(255, 4, 4);
    cursor: pointer;
}

footer{
    background-color: black;
    color: whitesmoke;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
}